html, body, .container-fluid, .row, #map {
  height: 100%;
  width: 100%;
}

.container-fluid {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0;
}

.no-gutters {
  margin-left: 0;
  margin-right: 0;

  > .col,
  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-md-10 {
  min-height: 200px;
}
